# Explore Yahoo finance

In [4]:
pip install yfinance --upgrade --no-cache-dir

Looking in indexes: https://pypi.tuna.tsinghua.edu.cn/simple
Collecting yfinance
  Downloading https://pypi.tuna.tsinghua.edu.cn/packages/da/6a/2c1bf2a0fd8ce7f30ff3af041a27118b4b56d69cdb809dccf1ce84971940/yfinance-0.1.74-py2.py3-none-any.whl (27 kB)
Requirement already satisfied: numpy>=1.15 in ./opt/anaconda3/envs/Python3-7_Keras_env/lib/python3.7/site-packages (from yfinance) (1.21.5)
Requirement already satisfied: lxml>=4.5.1 in ./opt/anaconda3/envs/Python3-7_Keras_env/lib/python3.7/site-packages (from yfinance) (4.9.1)
Requirement already satisfied: requests>=2.26 in ./opt/anaconda3/envs/Python3-7_Keras_env/lib/python3.7/site-packages (from yfinance) (2.28.1)
Collecting multitasking>=0.0.7
  Downloading https://pypi.tuna.tsinghua.edu.cn/packages/3e/8a/bb3160e76e844db9e69a413f055818969c8acade64e1a9ac5ce9dfdcf6c1/multitasking-0.0.11-py3-none-any.whl (8.5 kB)
Requirement already satisfied: pandas>=0.24.0 in ./opt/anaconda3/envs/Python3-7_Keras_env/lib/python3.7/site-packages (from yfinance) (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in ./opt/anaconda3/envs/Python3-7_Keras_env/lib/python3.7/site-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in ./opt/anaconda3/envs/Python3-7_Keras_env/lib/python3.7/site-packages (from pandas>=0.24.0->yfinance) (2022.1)
Requirement already satisfied: certifi>=2017.4.17 in ./opt/anaconda3/envs/Python3-7_Keras_env/lib/python3.7/site-packages (from requests>=2.26->yfinance) (2022.6.15)
Requirement already satisfied: idna<4,>=2.5 in ./opt/anaconda3/envs/Python3-7_Keras_env/lib/python3.7/site-packages (from requests>=2.26->yfinance) (3.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in ./opt/anaconda3/envs/Python3-7_Keras_env/lib/python3.7/site-packages (from requests>=2.26->yfinance) (1.26.9)
Requirement already satisfied: charset-normalizer<3,>=2 in ./opt/anaconda3/envs/Python3-7_Keras_env/lib/python3.7/site-packages (from requests>=2.26->yfinance) (2.0.4)
Requirement already satisfied: six>=1.5 in ./opt/anaconda3/envs/Python3-7_Keras_env/lib/python3.7/site-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.16.0)
Installing collected packages: multitasking, yfinance
Successfully installed multitasking-0.0.11 yfinance-0.1.74
Note: you may need to restart the kernel to use updated packages.

In [5]:
import yfinance as yf 
# https://github.com/ranaroussi/yfinance

In [7]:
msft = yf.Ticker("MSFT")
msft.info

{'zip': '98052-6399',
 'sector': 'Technology',
 'fullTimeEmployees': 181000,
 'longBusinessSummary': 'Microsoft Corporation develops, licenses, and supports software, services, devices, and solutions worldwide. Its Productivity and Business Processes segment offers Office, Exchange, SharePoint, Microsoft Teams, Office 365 Security and Compliance, and Skype for Business, as well as related Client Access Licenses (CAL); Skype, Outlook.com, OneDrive, and LinkedIn; and Dynamics 365, a set of cloud-based and on-premises business solutions for organizations and enterprise divisions. Its Intelligent Cloud segment licenses SQL, Windows Servers, Visual Studio, System Center, and related CALs; GitHub that provides a collaboration platform and code hosting service for developers; and Azure, a cloud platform. It also offers support services and Microsoft consulting services to assist customers in developing, deploying, and managing Microsoft server and desktop solutions; and training and certification on Microsoft products. Its More Personal Computing segment provides Windows original equipment manufacturer (OEM) licensing and other non-volume licensing of the Windows operating system; Windows Commercial, such as volume licensing of the Windows operating system, Windows cloud services, and other Windows commercial offerings; patent licensing; Windows Internet of Things; and MSN advertising. It also offers Surface, PC accessories, PCs, tablets, gaming and entertainment consoles, and other devices; Gaming, including Xbox hardware, and Xbox content and services; video games and third-party video game royalties; and Search, including Bing and Microsoft advertising. It sells its products through OEMs, distributors, and resellers; and directly through digital marketplaces, online stores, and retail stores. It has collaborations with Dynatrace, Inc., Morgan Stanley, Micro Focus, WPP plc, ACI Worldwide, Inc., and iCIMS, Inc., as well as strategic relationships with Avaya Holdings Corp. and wejo Limited. Microsoft Corporation was founded in 1975 and is based in Redmond, Washington.',
 'city': 'Redmond',
 'phone': '425 882 8080',
 'state': 'WA',
 'country': 'United States',
 'companyOfficers': [],
 'website': 'https://www.microsoft.com',
 'maxAge': 1,
 'address1': 'One Microsoft Way',
 'industry': 'Software—Infrastructure',
 'ebitdaMargins': 0.49327,
 'profitMargins': 0.37627998,
 'grossMargins': 0.6873,
 'operatingCashflow': 87115997184,
 'revenueGrowth': 0.184,
 'operatingMargins': 0.42556,
 'ebitda': 94982995968,
 'targetLowPrice': 251.76,
 'recommendationKey': 'buy',
 'grossProfits': 115856000000,
 'freeCashflow': 48917000192,
 'targetMedianPrice': 346.5,
 'currentPrice': 262.27,
 'earningsGrowth': 0.094,
 'currentRatio': 1.988,
 'returnOnAssets': 0.15674,
 'numberOfAnalystOpinions': 46,
 'targetMeanPrice': 349.62,
 'debtToEquity': 47.863,
 'returnOnEquity': 0.48721,
 'targetHighPrice': 500,
 'totalCash': 104660000768,
 'totalDebt': 77980999680,
 'totalRevenue': 192557006848,
 'totalCashPerShare': 13.994,
 'financialCurrency': 'USD',
 'revenuePerShare': 25.642,
 'quickRatio': 1.773,
 'recommendationMean': 1.7,
 'exchange': 'NMS',
 'shortName': 'Microsoft Corporation',
 'longName': 'Microsoft Corporation',
 'exchangeTimezoneName': 'America/New_York',
 'exchangeTimezoneShortName': 'EDT',
 'isEsgPopulated': False,
 'gmtOffSetMilliseconds': '-14400000',
 'quoteType': 'EQUITY',
 'symbol': 'MSFT',
 'messageBoardId': 'finmb_21835',
 'market': 'us_market',
 'annualHoldingsTurnover': None,
 'enterpriseToRevenue': 9.942,
 'beta3Year': None,
 'enterpriseToEbitda': 20.155,
 '52WeekChange': -0.083420694,
 'morningStarRiskRating': None,
 'forwardEps': 10.69,
 'revenueQuarterlyGrowth': None,
 'sharesOutstanding': 7479029760,
 'fundInceptionDate': None,
 'annualReportExpenseRatio': None,
 'totalAssets': None,
 'bookValue': 21.773,
 'sharesShort': 38896339,
 'sharesPercentSharesOut': 0.0052,
 'fundFamily': None,
 'lastFiscalYearEnd': 1625011200,
 'heldPercentInstitutions': 0.71961,
 'netIncomeToCommon': 72456003584,
 'trailingEps': 9.58,
 'lastDividendValue': 0.62,
 'SandP52WeekChange': -0.09332156,
 'priceToBook': 12.045652,
 'heldPercentInsiders': 0.00075,
 'nextFiscalYearEnd': 1688083200,
 'yield': None,
 'mostRecentQuarter': 1648684800,
 'shortRatio': 1.3,
 'sharesShortPreviousMonthDate': 1653955200,
 'floatShares': 7472077634,
 'beta': 0.932311,
 'enterpriseValue': 1914354532352,
 'priceHint': 2,
 'threeYearAverageReturn': None,
 'lastSplitDate': 1045526400,
 'lastSplitFactor': '2:1',
 'legalType': None,
 'lastDividendDate': 1652832000,
 'morningStarOverallRating': None,
 'earningsQuarterlyGrowth': 0.082,
 'priceToSalesTrailing12Months': 10.186724,
 'dateShortInterest': 1656547200,
 'pegRatio': 1.79,
 'ytdReturn': None,
 'forwardPE': 24.534143,
 'lastCapGain': None,
 'shortPercentOfFloat': 0.0052,
 'sharesShortPriorMonth': 46001375,
 'impliedSharesOutstanding': 0,
 'category': None,
 'fiveYearAverageReturn': None,
 'previousClose': 259.53,
 'regularMarketOpen': 259.9,
 'twoHundredDayAverage': 296.6137,
 'trailingAnnualDividendYield': 0.009324549,
 'payoutRatio': 0.2463,
 'volume24Hr': None,
 'regularMarketDayHigh': 264.87,
 'navPrice': None,
 'averageDailyVolume10Day': 24868160,
 'regularMarketPreviousClose': 259.53,
 'fiftyDayAverage': 260.4986,
 'trailingAnnualDividendRate': 2.42,
 'open': 259.9,
 'toCurrency': None,
 'averageVolume10days': 24868160,
 'expireDate': None,
 'algorithm': None,
 'dividendRate': 2.48,
 'exDividendDate': 1660694400,
 'circulatingSupply': None,
 'startDate': None,
 'regularMarketDayLow': 258.91,
 'currency': 'USD',
 'trailingPE': 27.376825,
 'regularMarketVolume': 22788282,
 'lastMarket': None,
 'maxSupply': None,
 'openInterest': None,
 'marketCap': 1961525116928,
 'volumeAllCurrencies': None,
 'strikePrice': None,
 'averageVolume': 31612259,
 'dayLow': 258.91,
 'ask': 260.52,
 'askSize': 1200,
 'volume': 22788282,
 'fiftyTwoWeekHigh': 349.67,
 'fromCurrency': None,
 'fiveYearAvgDividendYield': 1.25,
 'fiftyTwoWeekLow': 241.51,
 'bid': 260.5,
 'tradeable': False,
 'dividendYield': 0.0095999995,
 'bidSize': 900,
 'dayHigh': 264.87,
 'coinMarketCapLink': None,
 'regularMarketPrice': 262.27,
 'preMarketPrice': 261.9,
 'logo_url': 'https://logo.clearbit.com/microsoft.com',
 'trailingPegRatio': 1.7307}

In [9]:
# get historical market data
hist = msft.history(period="max")
hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1986-03-13,0.055654,0.063838,0.055654,0.061109,1031788800,0.0,0.0
1986-03-14,0.061109,0.064383,0.061109,0.063292,308160000,0.0,0.0
1986-03-17,0.063292,0.064929,0.063292,0.064384,133171200,0.0,0.0
1986-03-18,0.064384,0.064929,0.062201,0.062746,67766400,0.0,0.0
1986-03-19,0.062746,0.063292,0.061109,0.061655,47894400,0.0,0.0
...,...,...,...,...,...,...,...
2022-07-14,250.570007,255.139999,245.940002,254.080002,25102800,0.0,0.0
2022-07-15,255.720001,260.369995,254.770004,256.720001,29572500,0.0,0.0
2022-07-18,259.750000,260.839996,253.300003,254.250000,20975000,0.0,0.0
2022-07-19,257.579987,259.720001,253.679993,259.529999,25012600,0.0,0.0
2022-07-20,259.899994,264.869995,258.910004,262.269989,22689600,0.0,0.0

In [10]:
# show actions (dividends, splits)
msft.actions

            Dividends  Stock Splits
Date
1987-09-21       0.00           2.0
1990-04-16       0.00           2.0
1991-06-27       0.00           1.5
1992-06-15       0.00           1.5
1994-05-23       0.00           2.0
...               ...           ...
2021-05-19       0.56           0.0
2021-08-18       0.56           0.0
2021-11-17       0.62           0.0
2022-02-16       0.62           0.0
2022-05-18       0.62           0.0

[83 rows x 2 columns]

In [12]:
# show financials
msft.financials
msft.quarterly_financials

,2022-03-31,2021-12-31,2021-09-30,2021-06-30
Research Development,6306000000.0,5758000000.0,5599000000.0,5687000000.0
Effect Of Accounting Charges,None,None,None,None
Income Before Tax,20190000000.0,22515000000.0,20524000000.0,19405000000.0
Minority Interest,None,None,None,None
Net Income,16728000000.0,18765000000.0,20505000000.0,16458000000.0
Selling General Administrative,7075000000.0,6763000000.0,5834000000.0,7379000000.0
Gross Profit,33745000000.0,34768000000.0,31671000000.0,32161000000.0
Ebit,20364000000.0,22247000000.0,20238000000.0,19095000000.0
Operating Income,20364000000.0,22247000000.0,20238000000.0,19095000000.0
Other Operating Expenses,None,None,None,None
Interest Expense,-499000000.0,-521000000.0,-535000000.0,-549000000.0
Extraordinary Items,None,None,None,None
Non Recurring,None,None,None,None
Other Items,None,None,None,None
Income Tax Expense,3462000000.0,3750000000.0,19000000.0,2947000000.0
Total Revenue,49360000000.0,51728000000.0,45317000000.0,46152000000.0
Total Operating Expenses,28996000000.0,29481000000.0,25079000000.0,27057000000.0
Cost Of Revenue,15615000000.0,16960000000.0,13646000000.0,13991000000.0
Total Other Income Expense Net,-174000000.0,268000000.0,286000000.0,310000000.0
Discontinued Operations,None,None,None,None
Net Income From Continuing Ops,16728000000.0,18765000000.0,20505000000.0,16458000000.0
Net Income Applicable To Common Shares,16728000000.0,18765000000.0,20505000000.0,16458000000.0

In [13]:
# show major holders
msft.major_holders

        0                                      1
0   0.08%        % of Shares Held by All Insider
1  71.96%       % of Shares Held by Institutions
2  72.01%        % of Float Held by Institutions
3    5896  Number of Institutions Holding Shares

In [14]:
# show institutional holders
msft.institutional_holders

,Holder,Shares,Date Reported,% Out,Value
0,"Vanguard Group, Inc. (The)",621598157,2022-03-30,0.0831,163026541807
1,Blackrock Inc.,523749870,2022-03-30,0.0700,137363872650
2,State Street Corporation,300098242,2022-03-30,0.0401,78706762632
3,"FMR, LLC",210344695,2022-03-30,0.0281,55167100846
4,Price (T.Rowe) Associates Inc,195303799,2022-03-30,0.0261,51222325218
5,"Geode Capital Management, LLC",133424701,2022-03-30,0.0178,34993294865
6,Capital World Investors,104707015,2022-03-30,0.0140,27461507673
7,Capital International Investors,86682397,2022-03-30,0.0116,22734191308
8,Capital Research Global Investors,86423951,2022-03-30,0.0116,22666408679
9,Northern Trust Corporation,86713343,2022-03-30,0.0116,22742307515

In [15]:
# show balance sheet
msft.balance_sheet
msft.quarterly_balance_sheet

,2022-03-31,2021-12-31,2021-09-30,2021-06-30
Intangible Assets,1.134800e+10,7.462000e+09,7.794000e+09,7.800000e+09
Total Liab,1.816830e+11,1.803790e+11,1.834400e+11,1.917910e+11
Total Stockholder Equity,1.629240e+11,1.600100e+11,1.519780e+11,1.419880e+11
Other Current Liab,4.739100e+10,4.634600e+10,5.262200e+10,5.261200e+10
Total Assets,3.446070e+11,3.403890e+11,3.354180e+11,3.337790e+11
Common Stock,8.576700e+10,8.452800e+10,8.375100e+10,8.311100e+10
Other Current Assets,1.335300e+10,1.230100e+10,1.298200e+10,1.347100e+10
Retained Earnings,7.963300e+10,7.504500e+10,6.694400e+10,5.705500e+10
Other Liab,3.115900e+10,3.058400e+10,3.015700e+10,3.168100e+10
Good Will,6.737100e+10,5.092100e+10,5.045500e+10,4.971100e+10
Gains Losses Not Affecting Retained Earnings,-2.476000e+09,4.370000e+08,1.283000e+09,1.822000e+09
Other Assets,2.184500e+10,2.125600e+10,2.110300e+10,1.507500e+10
Cash,1.249800e+10,2.060400e+10,1.916500e+10,1.422400e+10
Total Current Liabilities,7.743900e+10,7.751000e+10,8.052800e+10,8.865700e+10
Short Long Term Debt,1.749000e+09,4.998000e+09,3.249000e+09,8.072000e+09
Other Stockholder Equity,-2.476000e+09,4.370000e+08,1.283000e+09,1.822000e+09
Property Plant Equipment,8.321400e+10,7.956800e+10,7.534700e+10,7.080300e+10
Total Current Assets,1.539220e+11,1.741880e+11,1.743260e+11,1.844060e+11
Long Term Investments,6.907000e+09,6.994000e+09,6.393000e+09,5.984000e+09
Net Tangible Assets,8.420500e+10,1.016270e+11,9.372900e+10,8.447700e+10
Short Term Investments,9.216200e+10,1.047440e+11,1.114190e+11,1.160320e+11
Net Receivables,3.261300e+10,3.352000e+10,2.734900e+10,3.804300e+10
Long Term Debt,4.817700e+10,4.826000e+10,5.003900e+10,5.007400e+10
Inventory,3.296000e+09,3.019000e+09,3.411000e+09,2.636000e+09
Accounts Payable,1.608500e+10,1.531400e+10,1.483200e+10,1.516300e+10
Deferred Long Term Asset Charges,NaN,NaN,NaN,7.181000e+09

In [16]:
# show cashflow
msft.cashflow
msft.quarterly_cashflow

,2022-03-31,2021-12-31,2021-09-30,2021-06-30
Investments,9.069000e+09,5.643000e+09,4.183000e+09,-4.334000e+09
Change To Liabilities,3.110000e+08,-4.108000e+09,-3.356000e+09,1.301400e+10
Total Cashflows From Investing Activities,-1.617100e+10,-1.161000e+09,-3.250000e+09,-1.085300e+10
Net Borrowings,-4.197000e+09,-4.197000e+09,-4.826000e+09,-4.826000e+09
Total Cash From Financing Activities,-1.734500e+10,-1.198600e+10,-1.627600e+10,-1.137100e+10
Change To Operating Activities,1.092000e+09,1.760000e+09,-3.551000e+09,7.990000e+08
Issuance Of Stock,4.770000e+08,2.910000e+08,6.120000e+08,4.500000e+08
Net Income,1.672800e+10,1.876500e+10,2.050500e+10,1.645800e+10
Change In Cash,-8.106000e+09,1.439000e+09,4.941000e+09,5.220000e+08
Repurchase Of Stock,-8.822000e+09,-7.433000e+09,-7.684000e+09,-7.177000e+09
Effect Of Exchange Rate,2.400000e+07,1.060000e+08,-7.300000e+07,3.600000e+07
Total Cash From Operating Activities,2.538600e+10,1.448000e+10,2.454000e+10,2.271000e+10
Depreciation,3.773000e+09,3.496000e+09,3.212000e+09,2.558000e+09
Other Cashflows From Investing Activities,-1.181000e+09,-8.900000e+07,-4.170000e+08,4.340000e+08
Dividends Paid,-4.645000e+09,-4.652000e+09,-4.206000e+09,-4.214000e+09
Change To Inventory,-2.790000e+08,3.940000e+08,-7.770000e+08,-3.880000e+08
Change To Account Receivables,8.570000e+08,-5.543000e+09,1.048600e+10,-1.160600e+10
Other Cashflows From Financing Activities,-1.580000e+08,-1.920000e+08,-1.720000e+08,-4.300000e+08
Change To Netincome,1.813000e+09,1.773000e+09,-4.632000e+09,1.907000e+09
Capital Expenditures,-5.340000e+09,-5.865000e+09,-5.810000e+09,-6.452000e+09

In [17]:
# show earnings
msft.earnings
msft.quarterly_earnings

             Revenue     Earnings
Quarter
2Q2021   46152000000  16458000000
3Q2021   45317000000  20505000000
4Q2021   51728000000  18765000000
1Q2022   49360000000  16728000000

In [18]:
# show sustainability
msft.sustainability

                                     Value
2022-5
palmOil                              False
controversialWeapons                 False
gambling                             False
socialScore                           8.06
nuclear                              False
furLeather                           False
alcoholic                            False
gmo                                  False
catholic                             False
socialPercentile                      None
peerCount                              106
governanceScore                       5.23
environmentPercentile                 None
animalTesting                        False
tobacco                              False
totalEsg                             13.75
highestControversy                       3
esgPerformance                  UNDER_PERF
coal                                 False
pesticides                           False
adult                                False
percentile                             7.4
peerGroup              Software & Services
smallArms                            False
environmentScore                      0.46
governancePercentile                  None
militaryContract                     False

In [19]:
# show analysts recommendations
msft.recommendations

                               Firm       To Grade From Grade Action
Date
2012-03-16 08:19:00  Argus Research            Buy                up
2012-03-19 14:00:00  Hilliard Lyons  Long-Term Buy              main
2012-03-22 07:03:00  Morgan Stanley     Overweight              main
2012-04-03 11:53:00             UBS            Buy              main
2012-04-20 06:18:00   Deutsche Bank            Buy              main
...                             ...            ...        ...    ...
2022-07-08 08:43:30   Piper Sandler     Overweight              main
2022-07-12 12:56:50  Morgan Stanley     Overweight              main
2022-07-15 14:57:56     BMO Capital     Outperform              main
2022-07-19 11:39:09       Citigroup            Buy              main
2022-07-19 13:57:00          Mizuho            Buy              main

[382 rows x 4 columns]

In [21]:
pip install html5lib

Looking in indexes: https://pypi.tuna.tsinghua.edu.cn/simple
Collecting html5lib
  Downloading https://pypi.tuna.tsinghua.edu.cn/packages/6c/dd/a834df6482147d48e225a49515aabc28974ad5a4ca3215c18a882565b028/html5lib-1.1-py2.py3-none-any.whl (112 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 112.2/112.2 kB 167.1 kB/s eta 0:00:00a 0:00:01
Requirement already satisfied: webencodings in ./opt/anaconda3/envs/Python3-7_Keras_env/lib/python3.7/site-packages (from html5lib) (0.5.1)
Requirement already satisfied: six>=1.9 in ./opt/anaconda3/envs/Python3-7_Keras_env/lib/python3.7/site-packages (from html5lib) (1.16.0)
Installing collected packages: html5lib
Successfully installed html5lib-1.1
Note: you may need to restart the kernel to use updated packages.

In [24]:
import html5lib

In [26]:
# show ISIN code - *experimental*
# ISIN = International Securities Identification Number
msft.isin

'-'

In [27]:
# show options expirations
msft.options

('2022-07-22',
 '2022-07-29',
 '2022-08-05',
 '2022-08-12',
 '2022-08-19',
 '2022-08-26',
 '2022-09-16',
 '2022-10-21',
 '2022-11-18',
 '2022-12-16',
 '2023-01-20',
 '2023-03-17',
 '2023-06-16',
 '2023-09-15',
 '2024-01-19',
 '2024-06-21')

In [28]:
# show news
msft.news

[{'uuid': '5c44295e-3d21-38ea-8d92-9ecdb931546c',
  'title': 'Why The Shelf Pattern Is The Perfect Pyramiding Tool In Growth Stocks',
  'publisher': "Investor's Business Daily",
  'link': 'https://finance.yahoo.com/m/5c44295e-3d21-38ea-8d92-9ecdb931546c/why-the-shelf-pattern-is-the.html',
  'providerPublishTime': 1658404839,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/1fSfZ735Ux9mHTt1.gk.4g--~B/aD01NzI7dz0xMDEyO2FwcGlkPXl0YWNoeW9u/https://s.yimg.com/uu/api/res/1.2/sqPnLLrvPm5EpzSzNEL_jg--~B/aD01NzI7dz0xMDEyO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/ibd.com/327ab249a19f1298335a0b154463fda6',
     'width': 1012,
     'height': 572,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/X66CAslSo7GjE1S_GY0Qow--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://s.yimg.com/uu/api/res/1.2/sqPnLLrvPm5EpzSzNEL_jg--~B/aD01NzI7dz0xMDEyO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/ibd.com/327ab249a19f1298335a0b154463fda6',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['MSFT']},
 {'uuid': '2791ffca-d740-3bc6-b33e-842cc3831220',
  'title': 'This Chart Shows a Big Problem for Johnson & Johnson, IBM, and Microsoft',
  'publisher': 'Motley Fool',
  'link': 'https://finance.yahoo.com/m/2791ffca-d740-3bc6-b33e-842cc3831220/this-chart-shows-a-big.html',
  'providerPublishTime': 1658397120,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/CAv3sdndB2BWINUPwFekxQ--~B/aD04NDE7dz0xNDAwO2FwcGlkPXl0YWNoeW9u/https://s.yimg.com/uu/api/res/1.2/abrhrZBOQUV9dguo7fpjrg--~B/aD04NDE7dz0xNDAwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/motleyfool.com/fcd62b68df24078810a138067aa48080',
     'width': 1400,
     'height': 841,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/5D4GD3OoillNmz8vF7Ddng--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://s.yimg.com/uu/api/res/1.2/abrhrZBOQUV9dguo7fpjrg--~B/aD04NDE7dz0xNDAwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/motleyfool.com/fcd62b68df24078810a138067aa48080',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['JNJ', 'IBM', 'MSFT']},
 {'uuid': 'ddce19cc-f413-3424-b244-dc33597349b8',
  'title': 'Tesla, MicroStrategy, Block Face Hit From Bitcoin',
  'publisher': 'Bloomberg',
  'link': 'https://finance.yahoo.com/news/tesla-microstrategy-block-face-hit-093942447.html',
  'providerPublishTime': 1658396382,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/zY3QLj6SpLgij_arcAOmmg--~B/aD03MTg7dz0xMjk2O2FwcGlkPXl0YWNoeW9u/https://s.yimg.com/uu/api/res/1.2/aUwNcdPQQDu9EKmSCLYmKg--~B/aD03MTg7dz0xMjk2O2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/bloomberg_technology_68/629fd135fa224a252da39d4aac908949',
     'width': 1296,
     'height': 718,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/QfL3y9KCkkF5zFrxYiY.Ww--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://s.yimg.com/uu/api/res/1.2/aUwNcdPQQDu9EKmSCLYmKg--~B/aD03MTg7dz0xMjk2O2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/bloomberg_technology_68/629fd135fa224a252da39d4aac908949',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['INTC',
   '0981.HK',
   'LCID',
   'NKLA',
   'SAP',
   'SAPGF',
   'TSLA',
   'AAPL',
   'MSTR',
   'MSFT',
   'BSQKZ',
   'SQ',
   'GOOG',
   'GOOGL',
   'NETTF',
   'NTES',
   'TWTR',
   'MS',
   'MS-PO']},
 {'uuid': '289a3668-63a1-31b9-8ee8-cca8093328e6',
  'title': 'Microsoft Cuts Open Job Positions in Cloud and Security Software Units',
  'publisher': 'Barrons.com',
  'link': 'https://finance.yahoo.com/m/289a3668-63a1-31b9-8ee8-cca8093328e6/microsoft-cuts-open-job.html',
  'providerPublishTime': 1658392020,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/Nu9ULKwPr0RTFVJVz5AOxQ--~B/aD02NDA7dz0xMjgwO2FwcGlkPXl0YWNoeW9u/https://s.yimg.com/uu/api/res/1.2/5ya3.h0LUU4YRamLCsrXJA--~B/aD02NDA7dz0xMjgwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/Barrons.com/88c929b86c754f1fc4108980da2cee1e',
     'width': 1280,
     'height': 640,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/6cUgrs_kblNcl3GxEZqaSA--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://s.yimg.com/uu/api/res/1.2/5ya3.h0LUU4YRamLCsrXJA--~B/aD02NDA7dz0xMjgwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/Barrons.com/88c929b86c754f1fc4108980da2cee1e',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['META', 'MSFT', 'NFLX']},
 {'uuid': '78883c34-77ab-3cf7-8573-eff645776fe6',
  'title': 'Amazon Breaks Lobbying Record Amid Antitrust Fight',
  'publisher': 'Bloomberg',
  'link': 'https://finance.yahoo.com/news/amazon-breaks-lobbying-record-amid-040634097.html',
  'providerPublishTime': 1658376394,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/l90QNPwC_WcKeizcfEGrqQ--~B/aD0xMzYxO3c9MjAwMDthcHBpZD15dGFjaHlvbg--/https://s.yimg.com/uu/api/res/1.2/gPDlpljg99tqUSCmrX8S_w--~B/aD0xMzYxO3c9MjAwMDthcHBpZD15dGFjaHlvbg--/https://media.zenfs.com/en/bloomberg_politics_602/8b4ce1b96db9a330a67c86f17cb24e63',
     'width': 2000,
     'height': 1361,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/b2xOKKyOvqIpYgP85l5YxQ--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://s.yimg.com/uu/api/res/1.2/gPDlpljg99tqUSCmrX8S_w--~B/aD0xMzYxO3c9MjAwMDthcHBpZD15dGFjaHlvbg--/https://media.zenfs.com/en/bloomberg_politics_602/8b4ce1b96db9a330a67c86f17cb24e63',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['AMZN', 'MSFT', 'GOOG', 'GOOGL', 'AAPL']},
 {'uuid': '8b0812d8-6aba-338f-875a-5c8c2d6ab0a8',
  'title': 'UPDATE 5-Microsoft Teams back up for most users after global outage',
  'publisher': 'Reuters',
  'link': 'https://finance.yahoo.com/news/1-microsoft-teams-down-thousands-015811625.html',
  'providerPublishTime': 1658368691,
  'type': 'STORY',
  'relatedTickers': ['MSFT']},
 {'uuid': 'd84190fb-b8c3-3696-aac9-43d7be9b65dc',
  'title': 'Microsoft Teams back up for most users after global outage',
  'publisher': 'Reuters',
  'link': 'https://finance.yahoo.com/news/microsoft-teams-down-thousands-users-015140151.html',
  'providerPublishTime': 1658368300,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/KXbd2NawX074vG2H2Omvaw--~B/aD00MzM7dz04MDA7YXBwaWQ9eXRhY2h5b24-/https://s.yimg.com/uu/api/res/1.2/CWpHAJx0RH5yPL61EW0E7Q--~B/aD00MzM7dz04MDA7YXBwaWQ9eXRhY2h5b24-/https://media.zenfs.com/en/reuters-finance.com/a9b6debaba482f85353c44f1e43fe2b5',
     'width': 800,
     'height': 433,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/_93LbsE6ZbZ.SCbT3qGmTw--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://s.yimg.com/uu/api/res/1.2/CWpHAJx0RH5yPL61EW0E7Q--~B/aD00MzM7dz04MDA7YXBwaWQ9eXRhY2h5b24-/https://media.zenfs.com/en/reuters-finance.com/a9b6debaba482f85353c44f1e43fe2b5',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['MSFT']},
 {'uuid': '9062582a-96a1-33fa-a852-731b56852b59',
  'title': 'Minecraft bans NFTs and blockchain, saying they don’t align with game’s values',
  'publisher': 'MarketWatch',
  'link': 'https://finance.yahoo.com/m/9062582a-96a1-33fa-a852-731b56852b59/minecraft-bans-nfts-and.html',
  'providerPublishTime': 1658366760,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/ghPv8xrwpo9W.LL2C4TFMg--~B/aD02NDA7dz0xMjgwO2FwcGlkPXl0YWNoeW9u/https://s.yimg.com/uu/api/res/1.2/j42jGogf4iZqD5xo2DWtBw--~B/aD02NDA7dz0xMjgwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/marketwatch.com/789c3b9b3b8a6f8b854a3717c1c6f199',
     'width': 1280,
     'height': 640,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/q31Ih.LsRddEWAEGXrYNzQ--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://s.yimg.com/uu/api/res/1.2/j42jGogf4iZqD5xo2DWtBw--~B/aD02NDA7dz0xMjgwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/marketwatch.com/789c3b9b3b8a6f8b854a3717c1c6f199',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['MSFT']}]

# Calculate mean score (pos/neg/neu/comp)

In [ ]:
import pandas as pd
import numpy as np

In [3]:
pip install vaderSentiment

Looking in indexes: https://pypi.tuna.tsinghua.edu.cn/simple
Collecting vaderSentiment
  Using cached https://pypi.tuna.tsinghua.edu.cn/packages/76/fc/310e16254683c1ed35eeb97386986d6c00bc29df17ce280aed64d55537e9/vaderSentiment-3.3.2-py2.py3-none-any.whl (125 kB)
Requirement already satisfied: requests in ./opt/anaconda3/envs/Python3-7_Keras_env/lib/python3.7/site-packages (from vaderSentiment) (2.28.1)
Requirement already satisfied: certifi>=2017.4.17 in ./opt/anaconda3/envs/Python3-7_Keras_env/lib/python3.7/site-packages (from requests->vaderSentiment) (2022.6.15)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in ./opt/anaconda3/envs/Python3-7_Keras_env/lib/python3.7/site-packages (from requests->vaderSentiment) (1.26.9)
Requirement already satisfied: idna<4,>=2.5 in ./opt/anaconda3/envs/Python3-7_Keras_env/lib/python3.7/site-packages (from requests->vaderSentiment) (3.3)
Requirement already satisfied: charset-normalizer<3,>=2 in ./opt/anaconda3/envs/Python3-7_Keras_env/lib/python3.7/site-packages (from requests->vaderSentiment) (2.0.4)
Installing collected packages: vaderSentiment
Successfully installed vaderSentiment-3.3.2
Note: you may need to restart the kernel to use updated packages.

In [2]:
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer

In [8]:
data = pd.read_csv('/Users/annacui/Desktop/MLcase5/Combined_News_DJIA.csv')
data.head()

,Date,Label,Top1,Top2,Top3,Top4,Top5,Top6,Top7,Top8,...,Top16,Top17,Top18,Top19,Top20,Top21,Top22,Top23,Top24,Top25
0,2008-08-08,0,"b""Georgia 'downs two Russian warplanes' as cou...",b'BREAKING: Musharraf to be impeached.',b'Russia Today: Columns of troops roll into So...,b'Russian tanks are moving towards the capital...,"b""Afghan children raped with 'impunity,' U.N. ...",b'150 Russian tanks have entered South Ossetia...,"b""Breaking: Georgia invades South Ossetia, Rus...","b""The 'enemy combatent' trials are nothing but...",...,b'Georgia Invades South Ossetia - if Russia ge...,b'Al-Qaeda Faces Islamist Backlash',"b'Condoleezza Rice: ""The US would not act to p...",b'This is a busy day: The European Union has ...,"b""Georgia will withdraw 1,000 soldiers from Ir...",b'Why the Pentagon Thinks Attacking Iran is a ...,b'Caucasus in crisis: Georgia invades South Os...,b'Indian shoe manufactory - And again in a se...,b'Visitors Suffering from Mental Illnesses Ban...,"b""No Help for Mexico's Kidnapping Surge"""
1,2008-08-11,1,b'Why wont America and Nato help us? If they w...,b'Bush puts foot down on Georgian conflict',"b""Jewish Georgian minister: Thanks to Israeli ...",b'Georgian army flees in disarray as Russians ...,"b""Olympic opening ceremony fireworks 'faked'""",b'What were the Mossad with fraudulent New Zea...,b'Russia angered by Israeli military sale to G...,b'An American citizen living in S.Ossetia blam...,...,b'Israel and the US behind the Georgian aggres...,"b'""Do not believe TV, neither Russian nor Geor...",b'Riots are still going on in Montreal (Canada...,b'China to overtake US as largest manufacturer',b'War in South Ossetia [PICS]',b'Israeli Physicians Group Condemns State Tort...,b' Russia has just beaten the United States ov...,b'Perhaps *the* question about the Georgia - R...,b'Russia is so much better at war',"b""So this is what it's come to: trading sex fo..."
2,2008-08-12,0,b'Remember that adorable 9-year-old who sang a...,"b""Russia 'ends Georgia operation'""","b'""If we had no sexual harassment we would hav...","b""Al-Qa'eda is losing support in Iraq because ...",b'Ceasefire in Georgia: Putin Outmaneuvers the...,b'Why Microsoft and Intel tried to kill the XO...,b'Stratfor: The Russo-Georgian War and the Bal...,"b""I'm Trying to Get a Sense of This Whole Geor...",...,b'U.S. troops still in Georgia (did you know t...,b'Why Russias response to Georgia was right',"b'Gorbachev accuses U.S. of making a ""serious ...","b'Russia, Georgia, and NATO: Cold War Two'",b'Remember that adorable 62-year-old who led y...,b'War in Georgia: The Israeli connection',b'All signs point to the US encouraging Georgi...,b'Christopher King argues that the US and NATO...,b'America: The New Mexico?',"b""BBC NEWS | Asia-Pacific | Extinction 'by man..."
3,2008-08-13,0,b' U.S. refuses Israel weapons to attack Iran:...,"b""When the president ordered to attack Tskhinv...",b' Israel clears troops who killed Reuters cam...,b'Britain\'s policy of being tough on drugs is...,b'Body of 14 year old found in trunk; Latest (...,b'China has moved 10 *million* quake survivors...,"b""Bush announces Operation Get All Up In Russi...",b'Russian forces sink Georgian ships ',...,b'Elephants extinct by 2020?',b'US humanitarian missions soon in Georgia - i...,"b""Georgia's DDOS came from US sources""","b'Russian convoy heads into Georgia, violating...",b'Israeli defence minister: US against strike ...,b'Gorbachev: We Had No Choice',b'Witness: Russian forces head towards Tbilisi...,b' Quarter of Russians blame U.S. for conflict...,b'Georgian president says US military will ta...,b'2006: Nobel laureate Aleksander Solzhenitsyn...
4,2008-08-14,1,b'All the experts admit that we should legalis...,b'War in South Osetia - 89 pictures made by a ...,b'Swedish wrestler Ara Abrahamian throws away ...,b'Russia exaggerated the death toll in South O...,b'Missile That Killed 9 Inside Pakistan May Ha...,"b""Rushdie Condemns Random House's Refusal to P...",b'Poland and US agree to missle defense deal. ...,"b'Will the Russians conquer Tblisi? Bet on it,...",...,b'Bank analyst forecast Georgian crisis 2 days...,"b""Georgia confict could set back Russia's US r...",b'War in the Caucasus is as much the product o...,"b'""Non-media"" photos of South Ossetia/Georgia ...",b'Georgian TV reporter shot by Russian sniper ...,b'Saudi Arabia: Mother moves to block child ma...,b'Taliban wages war on humanitarian aid workers',"b'Russia: World ""can forget about"" Georgia\'s...",b'Darfur rebels accuse Sudan of mounting major...,b'Philippines : Peace Advocate say Muslims nee...

In [8]:
analyser = SentimentIntensityAnalyzer()

In [9]:
def sentiment_analyzer_scores(sentence):
    score = analyser.polarity_scores(sentence)
    return score

In [10]:
data.isna().sum() 
#check NAs

Date     0
Label    0
Top1     0
Top2     0
Top3     0
Top4     0
Top5     0
Top6     0
Top7     0
Top8     0
Top9     0
Top10    0
Top11    0
Top12    0
Top13    0
Top14    0
Top15    0
Top16    0
Top17    0
Top18    0
Top19    0
Top20    0
Top21    0
Top22    0
Top23    1
Top24    3
Top25    3
dtype: int64

In [11]:
data_clean = data.replace(np.nan,'',regex=True) 
data_clean = data_clean.drop(columns=['Date','Label'],axis=1)

In [12]:
print(data_clean.isna().sum())
data_clean.head(5)

Top1     0
Top2     0
Top3     0
Top4     0
Top5     0
Top6     0
Top7     0
Top8     0
Top9     0
Top10    0
Top11    0
Top12    0
Top13    0
Top14    0
Top15    0
Top16    0
Top17    0
Top18    0
Top19    0
Top20    0
Top21    0
Top22    0
Top23    0
Top24    0
Top25    0
dtype: int64

,Top1,Top2,Top3,Top4,Top5,Top6,Top7,Top8,Top9,Top10,...,Top16,Top17,Top18,Top19,Top20,Top21,Top22,Top23,Top24,Top25
0,"b""Georgia 'downs two Russian warplanes' as cou...",b'BREAKING: Musharraf to be impeached.',b'Russia Today: Columns of troops roll into So...,b'Russian tanks are moving towards the capital...,"b""Afghan children raped with 'impunity,' U.N. ...",b'150 Russian tanks have entered South Ossetia...,"b""Breaking: Georgia invades South Ossetia, Rus...","b""The 'enemy combatent' trials are nothing but...",b'Georgian troops retreat from S. Osettain cap...,b'Did the U.S. Prep Georgia for War with Russia?',...,b'Georgia Invades South Ossetia - if Russia ge...,b'Al-Qaeda Faces Islamist Backlash',"b'Condoleezza Rice: ""The US would not act to p...",b'This is a busy day: The European Union has ...,"b""Georgia will withdraw 1,000 soldiers from Ir...",b'Why the Pentagon Thinks Attacking Iran is a ...,b'Caucasus in crisis: Georgia invades South Os...,b'Indian shoe manufactory - And again in a se...,b'Visitors Suffering from Mental Illnesses Ban...,"b""No Help for Mexico's Kidnapping Surge"""
1,b'Why wont America and Nato help us? If they w...,b'Bush puts foot down on Georgian conflict',"b""Jewish Georgian minister: Thanks to Israeli ...",b'Georgian army flees in disarray as Russians ...,"b""Olympic opening ceremony fireworks 'faked'""",b'What were the Mossad with fraudulent New Zea...,b'Russia angered by Israeli military sale to G...,b'An American citizen living in S.Ossetia blam...,b'Welcome To World War IV! Now In High Definit...,"b""Georgia's move, a mistake of monumental prop...",...,b'Israel and the US behind the Georgian aggres...,"b'""Do not believe TV, neither Russian nor Geor...",b'Riots are still going on in Montreal (Canada...,b'China to overtake US as largest manufacturer',b'War in South Ossetia [PICS]',b'Israeli Physicians Group Condemns State Tort...,b' Russia has just beaten the United States ov...,b'Perhaps *the* question about the Georgia - R...,b'Russia is so much better at war',"b""So this is what it's come to: trading sex fo..."
2,b'Remember that adorable 9-year-old who sang a...,"b""Russia 'ends Georgia operation'""","b'""If we had no sexual harassment we would hav...","b""Al-Qa'eda is losing support in Iraq because ...",b'Ceasefire in Georgia: Putin Outmaneuvers the...,b'Why Microsoft and Intel tried to kill the XO...,b'Stratfor: The Russo-Georgian War and the Bal...,"b""I'm Trying to Get a Sense of This Whole Geor...","b""The US military was surprised by the timing ...",b'U.S. Beats War Drum as Iran Dumps the Dollar',...,b'U.S. troops still in Georgia (did you know t...,b'Why Russias response to Georgia was right',"b'Gorbachev accuses U.S. of making a ""serious ...","b'Russia, Georgia, and NATO: Cold War Two'",b'Remember that adorable 62-year-old who led y...,b'War in Georgia: The Israeli connection',b'All signs point to the US encouraging Georgi...,b'Christopher King argues that the US and NATO...,b'America: The New Mexico?',"b""BBC NEWS | Asia-Pacific | Extinction 'by man..."
3,b' U.S. refuses Israel weapons to attack Iran:...,"b""When the president ordered to attack Tskhinv...",b' Israel clears troops who killed Reuters cam...,b'Britain\'s policy of being tough on drugs is...,b'Body of 14 year old found in trunk; Latest (...,b'China has moved 10 *million* quake survivors...,"b""Bush announces Operation Get All Up In Russi...",b'Russian forces sink Georgian ships ',"b""The commander of a Navy air reconnaissance s...","b""92% of CNN readers: Russia's actions in Geor...",...,b'Elephants extinct by 2020?',b'US humanitarian missions soon in Georgia - i...,"b""Georgia's DDOS came from US sources""","b'Russian convoy heads into Georgia, violating...",b'Israeli defence minister: US against strike ...,b'Gorbachev: We Had No Choice',b'Witness: Russian forces head towards Tbilisi...,b' Quarter of Russians blame U.S. for conflict...,b'Georgian president says US military will ta...,b'2006: Nobel laureate Aleksander Solzhenitsyn...
4,b'All the experts admit that we should legalis...,b'War in South Osetia - 89 pictures made by a ...,b'Swedish wrestler Ara Abrahamian throws away ...,b'Russia exaggerated the death toll in South O...,b'Missile That Killed 9 Inside Pakistan May Ha...,"b""Rushdie Condemns Random House's Refusal to P...",b'Poland and US agree to missle defense deal. ...,"b'Will the Russians conquer Tblisi? Bet on it,...",b'Russia exaggerating South Ossetian death tol...,b' Musharraf expected to resign rather than fa...,...,b'Bank analyst forecast Georgian crisis 2 days...,"b""Georgia confict could set back Russia's US r...",b'War in the Caucasus is as much the product o...,"b'""Non-media"" photos of South Ossetia/Georgia ...",b'Georgian TV reporter shot by Russian sniper ...,b'Saudi Arabia: Mother moves to block child ma...,b'Taliban wages war on humanitarian aid workers',"b'Russia: World ""can forget about"" Georgia\'s...",b'Darfur rebels accuse Sudan of mounting major...,b'Philippines : Peace Advocate say Muslims nee...

In [13]:
data_score=data_clean.applymap(sentiment_analyzer_scores)

In [14]:
data_score.head()

,Top1,Top2,Top3,Top4,Top5,Top6,Top7,Top8,Top9,Top10,...,Top16,Top17,Top18,Top19,Top20,Top21,Top22,Top23,Top24,Top25
0,"{'neg': 0.262, 'neu': 0.738, 'pos': 0.0, 'comp...","{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...","{'neg': 0.172, 'neu': 0.828, 'pos': 0.0, 'comp...","{'neg': 0.247, 'neu': 0.753, 'pos': 0.0, 'comp...","{'neg': 0.397, 'neu': 0.603, 'pos': 0.0, 'comp...","{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...","{'neg': 0.149, 'neu': 0.851, 'pos': 0.0, 'comp...","{'neg': 0.101, 'neu': 0.802, 'pos': 0.097, 'co...","{'neg': 0.246, 'neu': 0.656, 'pos': 0.098, 'co...","{'neg': 0.328, 'neu': 0.672, 'pos': 0.0, 'comp...",...,"{'neg': 0.178, 'neu': 0.822, 'pos': 0.0, 'comp...","{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...","{'neg': 0.162, 'neu': 0.741, 'pos': 0.097, 'co...","{'neg': 0.088, 'neu': 0.789, 'pos': 0.123, 'co...","{'neg': 0.112, 'neu': 0.773, 'pos': 0.116, 'co...","{'neg': 0.317, 'neu': 0.683, 'pos': 0.0, 'comp...","{'neg': 0.406, 'neu': 0.594, 'pos': 0.0, 'comp...","{'neg': 0.123, 'neu': 0.877, 'pos': 0.0, 'comp...","{'neg': 0.65, 'neu': 0.35, 'pos': 0.0, 'compou...","{'neg': 0.0, 'neu': 0.649, 'pos': 0.351, 'comp..."
1,"{'neg': 0.09, 'neu': 0.68, 'pos': 0.23, 'compo...","{'neg': 0.277, 'neu': 0.723, 'pos': 0.0, 'comp...","{'neg': 0.0, 'neu': 0.791, 'pos': 0.209, 'comp...","{'neg': 0.217, 'neu': 0.647, 'pos': 0.135, 'co...","{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...","{'neg': 0.225, 'neu': 0.775, 'pos': 0.0, 'comp...","{'neg': 0.32, 'neu': 0.68, 'pos': 0.0, 'compou...","{'neg': 0.134, 'neu': 0.746, 'pos': 0.119, 'co...","{'neg': 0.359, 'neu': 0.641, 'pos': 0.0, 'comp...","{'neg': 0.255, 'neu': 0.745, 'pos': 0.0, 'comp...",...,"{'neg': 0.239, 'neu': 0.761, 'pos': 0.0, 'comp...","{'neg': 0.178, 'neu': 0.822, 'pos': 0.0, 'comp...","{'neg': 0.239, 'neu': 0.761, 'pos': 0.0, 'comp...","{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...","{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...","{'neg': 0.643, 'neu': 0.357, 'pos': 0.0, 'comp...","{'neg': 0.159, 'neu': 0.682, 'pos': 0.159, 'co...","{'neg': 0.204, 'neu': 0.796, 'pos': 0.0, 'comp...","{'neg': 0.323, 'neu': 0.414, 'pos': 0.263, 'co...","{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound..."
2,"{'neg': 0.169, 'neu': 0.656, 'pos': 0.175, 'co...","{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...","{'neg': 0.289, 'neu': 0.525, 'pos': 0.187, 'co...","{'neg': 0.236, 'neu': 0.669, 'pos': 0.095, 'co...","{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...","{'neg': 0.32, 'neu': 0.68, 'pos': 0.0, 'compou...","{'neg': 0.302, 'neu': 0.698, 'pos': 0.0, 'comp...","{'neg': 0.135, 'neu': 0.865, 'pos': 0.0, 'comp...","{'neg': 0.0, 'neu': 0.901, 'pos': 0.099, 'comp...","{'neg': 0.485, 'neu': 0.515, 'pos': 0.0, 'comp...",...,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...","{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...","{'neg': 0.188, 'neu': 0.66, 'pos': 0.152, 'com...","{'neg': 0.394, 'neu': 0.606, 'pos': 0.0, 'comp...","{'neg': 0.289, 'neu': 0.579, 'pos': 0.132, 'co...","{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...","{'neg': 0.0, 'neu': 0.793, 'pos': 0.207, 'comp...","{'neg': 0.071, 'neu': 0.794, 'pos': 0.135, 'co...","{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...","{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound..."
3,"{'neg': 0.462, 'neu': 0.538, 'pos': 0.0, 'comp...","{'neg': 0.249, 'neu': 0.751, 'pos': 0.0, 'comp...","{'neg': 0.381, 'neu': 0.508, 'pos': 0.11, 'com...","{'neg': 0.07, 'neu': 0.93, 'pos': 0.0, 'compou...","{'neg': 0.163, 'neu': 0.837, 'pos': 0.0, 'comp...","{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...","{'neg': 0.0, 'neu': 0.736, 'pos': 0.264, 'comp...","{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...","{'neg': 0.082, 'neu': 0.737, 'pos': 0.181, 'co...","{'neg': 0.0, 'neu': 0.751, 'pos': 0.249, 'comp...",...,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...","{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...","{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...","{'neg': 0.368, 'neu': 0.632, 'pos': 0.0, 'comp...","{'neg': 0.169, 'neu': 0.674, 'pos': 0.157, 'co...","{'neg': 0.355, 'neu': 0.645, 'pos': 0.0, 'comp...","{'neg': 0.0, 'neu': 0.758, 'pos': 0.242, 'comp...","{'neg': 0.402, 'neu': 0.598, 'pos': 0.0, 'comp...","{'neg': 0.167, 'neu': 0.833, 'pos': 0.0, 'comp...","{'neg': 0.194, 'neu': 0.806, 'pos': 0.0, 'comp..."
4,"{'neg': 0.0, 'neu': 0.833, 'pos': 0.167, 'comp...","{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...","{'neg': 0.0, 'neu': 0.641, 'pos': 0.359, 'comp...","{'neg': 0.412, 'neu': 0.588, 'pos': 0.0, 'comp...","{'neg': 0.265, 'neu': 0.647, 'pos': 0.088, 'co...","{'neg': 0.346, 'neu': 0.532, 'pos': 0.122, 'co...","{'neg': 0.0, 'neu': 0.5, 'pos': 0.5, 'compound...","{'neg': 0.0, 'neu': 0.902, 'pos': 0.098, 'comp...","{'neg': 0.412, 'neu': 0.588, 'pos': 0.0, 'comp...","{'neg': 0.231, 'neu': 0.769, 'pos': 0.0, 'comp...",...,"{'neg': 0.369, 'neu': 0.631, 'pos': 0.0, 'comp...","{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...","{'neg': 0.14, 'neu': 0.86, 'pos': 0.0, 'compou...","{'neg': 0.315, 'neu': 0.685, 'pos': 0.0, 'comp...","{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...","{'neg': 0.293, 'neu': 0.707, 'pos': 0.0, 'comp...","{'neg': 0.394, 'neu': 0.606, 'pos': 0.0, 'comp...","{'neg': 0.181, 'neu': 0.571, 'pos': 0.248, 'co...","{'neg': 0.583, 'neu': 0.417, 'pos': 0.0, 'comp...","{'neg': 0.0, 'neu': 0.67, 'pos': 0.33, 'compou..."

In [ ]:
# DO NOT RUN THIS CELL!!!! (pd.applymap) 
# applymap 
df = pd.DataFrame([[1, 2.12], [3.356, 4.567]])
df
       0      1
0  1.000  2.120
1  3.356  4.567  
----------------- 
df.applymap(lambda x: len(str(x)))
   0  1
0  3  4
1  5  5

In [16]:
# display positive score 
data_pos=data_score.applymap(lambda x:x['pos'])   
data_pos

,Top1,Top2,Top3,Top4,Top5,Top6,Top7,Top8,Top9,Top10,...,Top16,Top17,Top18,Top19,Top20,Top21,Top22,Top23,Top24,Top25
0,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.097,0.098,0.000,...,0.000,0.000,0.097,0.123,0.116,0.000,0.000,0.000,0.000,0.351
1,0.230,0.000,0.209,0.135,0.000,0.000,0.000,0.119,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.159,0.000,0.263,0.000
2,0.175,0.000,0.187,0.095,0.000,0.000,0.000,0.000,0.099,0.000,...,0.000,0.000,0.152,0.000,0.132,0.000,0.207,0.135,0.000,0.000
3,0.000,0.000,0.110,0.000,0.000,0.000,0.264,0.000,0.181,0.249,...,0.000,0.000,0.000,0.000,0.157,0.000,0.242,0.000,0.000,0.000
4,0.167,0.000,0.359,0.000,0.088,0.122,0.500,0.098,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.248,0.000,0.330
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1984,0.144,0.174,0.000,0.180,0.464,0.000,0.231,0.000,0.070,0.000,...,0.000,0.255,0.046,0.000,0.204,0.093,0.000,0.000,0.083,0.158
1985,0.456,0.065,0.346,0.315,0.000,0.000,0.000,0.180,0.000,0.000,...,0.304,0.000,0.071,0.049,0.160,0.000,0.135,0.000,0.000,0.127
1986,0.000,0.000,0.459,0.000,0.105,0.000,0.000,0.268,0.425,0.087,...,0.353,0.000,0.000,0.000,0.172,0.000,0.000,0.211,0.000,0.000
1987,0.000,0.106,0.213,0.000,0.000,0.000,0.000,0.345,0.000,0.000,...,0.307,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
1988,0.000,0.000,0.252,0.000,0.000,0.199,0.000,0.156,0.000,0.161,...,0.115,0.224,0.000,0.000,0.230,0.072,0.198,0.000,0.000,0.000

In [17]:
data_neg = data_score.applymap(lambda x:x['neg'])
data_neg

,Top1,Top2,Top3,Top4,Top5,Top6,Top7,Top8,Top9,Top10,...,Top16,Top17,Top18,Top19,Top20,Top21,Top22,Top23,Top24,Top25
0,0.262,0.000,0.172,0.247,0.397,0.000,0.149,0.101,0.246,0.328,...,0.178,0.000,0.162,0.088,0.112,0.317,0.406,0.123,0.650,0.000
1,0.090,0.277,0.000,0.217,0.000,0.225,0.320,0.134,0.359,0.255,...,0.239,0.178,0.239,0.000,0.000,0.643,0.159,0.204,0.323,0.000
2,0.169,0.000,0.289,0.236,0.000,0.320,0.302,0.135,0.000,0.485,...,0.000,0.000,0.188,0.394,0.289,0.000,0.000,0.071,0.000,0.000
3,0.462,0.249,0.381,0.070,0.163,0.000,0.000,0.000,0.082,0.000,...,0.000,0.000,0.000,0.368,0.169,0.355,0.000,0.402,0.167,0.194
4,0.000,0.000,0.000,0.412,0.265,0.346,0.000,0.000,0.412,0.231,...,0.369,0.000,0.140,0.315,0.000,0.293,0.394,0.181,0.583,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1984,0.203,0.000,0.481,0.220,0.000,0.391,0.000,0.270,0.180,0.000,...,0.328,0.033,0.207,0.206,0.000,0.101,0.194,0.389,0.045,0.000
1985,0.147,0.120,0.141,0.000,0.324,0.408,0.000,0.000,0.174,0.000,...,0.000,0.267,0.103,0.000,0.000,0.000,0.049,0.000,0.667,0.276
1986,0.000,0.277,0.000,0.096,0.270,0.000,0.590,0.000,0.000,0.054,...,0.000,0.000,0.441,0.349,0.093,0.709,0.450,0.146,0.000,0.000
1987,0.000,0.226,0.000,0.281,0.294,0.590,0.200,0.000,0.500,0.330,...,0.000,0.000,0.245,0.133,0.000,0.345,0.000,0.202,0.220,0.526
1988,0.104,0.146,0.000,0.302,0.216,0.249,0.187,0.045,0.167,0.235,...,0.270,0.000,0.000,0.213,0.246,0.382,0.405,0.371,0.259,0.071

In [18]:
data_neu = data_score .applymap(lambda x:x['neu']) 
data_neu

,Top1,Top2,Top3,Top4,Top5,Top6,Top7,Top8,Top9,Top10,...,Top16,Top17,Top18,Top19,Top20,Top21,Top22,Top23,Top24,Top25
0,0.738,1.000,0.828,0.753,0.603,1.000,0.851,0.802,0.656,0.672,...,0.822,1.000,0.741,0.789,0.773,0.683,0.594,0.877,0.350,0.649
1,0.680,0.723,0.791,0.647,1.000,0.775,0.680,0.746,0.641,0.745,...,0.761,0.822,0.761,1.000,1.000,0.357,0.682,0.796,0.414,1.000
2,0.656,1.000,0.525,0.669,1.000,0.680,0.698,0.865,0.901,0.515,...,1.000,1.000,0.660,0.606,0.579,1.000,0.793,0.794,1.000,1.000
3,0.538,0.751,0.508,0.930,0.837,1.000,0.736,1.000,0.737,0.751,...,1.000,1.000,1.000,0.632,0.674,0.645,0.758,0.598,0.833,0.806
4,0.833,1.000,0.641,0.588,0.647,0.532,0.500,0.902,0.588,0.769,...,0.631,1.000,0.860,0.685,1.000,0.707,0.606,0.571,0.417,0.670
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1984,0.654,0.826,0.519,0.600,0.536,0.609,0.769,0.730,0.750,1.000,...,0.672,0.712,0.747,0.794,0.796,0.806,0.806,0.611,0.871,0.842
1985,0.397,0.815,0.513,0.685,0.676,0.592,1.000,0.820,0.826,1.000,...,0.696,0.733,0.826,0.951,0.840,1.000,0.816,1.000,0.333,0.596
1986,1.000,0.723,0.541,0.904,0.625,1.000,0.410,0.732,0.575,0.859,...,0.647,1.000,0.559,0.651,0.734,0.291,0.550,0.643,1.000,1.000
1987,1.000,0.667,0.787,0.719,0.706,0.410,0.800,0.655,0.500,0.670,...,0.693,1.000,0.755,0.867,1.000,0.655,1.000,0.798,0.780,0.474
1988,0.896,0.854,0.748,0.698,0.784,0.552,0.813,0.799,0.833,0.604,...,0.615,0.776,1.000,0.787,0.524,0.546,0.397,0.629,0.741,0.929

In [19]:
data_comp = data_score.applymap(lambda x:x['compound'])
data_comp

,Top1,Top2,Top3,Top4,Top5,Top6,Top7,Top8,Top9,Top10,...,Top16,Top17,Top18,Top19,Top20,Top21,Top22,Top23,Top24,Top25
0,-0.5994,0.0000,-0.3612,-0.7089,-0.9260,0.0000,-0.2732,0.2144,-0.5719,-0.5994,...,-0.5994,0.0000,-0.3125,0.2023,0.0258,-0.7579,-0.6249,-0.2755,-0.8519,0.4019
1,0.5426,-0.3182,0.4404,-0.1965,0.0000,-0.4939,-0.5106,-0.0772,-0.6688,-0.3400,...,-0.2960,-0.3804,-0.6597,0.0000,0.0000,-0.8020,0.0000,-0.3182,-0.1832,0.0000
2,0.0258,0.0000,-0.1406,-0.6124,0.0000,-0.6908,-0.5994,-0.5994,0.3400,-0.7650,...,0.0000,0.0000,0.0772,-0.5994,-0.5859,0.0000,0.5267,0.3818,0.0000,0.0000
3,-0.7184,-0.8074,-0.6369,-0.1280,-0.5106,0.0000,0.5106,0.0000,0.3612,0.4574,...,0.0000,0.0000,0.0000,-0.5423,-0.0258,-0.2960,0.4939,-0.5719,-0.4215,-0.3400
4,0.2023,0.0000,0.6808,-0.8689,-0.6124,-0.6369,0.7177,0.1326,-0.6808,-0.3400,...,-0.6249,0.0000,-0.3818,-0.3182,0.0000,-0.4404,-0.5994,0.1779,-0.7178,0.7096
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1984,-0.2263,0.2732,-0.7579,-0.1027,0.6369,-0.5423,0.4585,-0.5719,-0.5859,0.0000,...,-0.5994,0.8442,-0.5994,-0.0772,0.3182,0.1724,-0.1027,-0.6249,0.2500,0.1280
1985,0.8316,-0.4588,0.4939,0.3182,-0.7717,-0.7351,0.0000,0.2960,-0.2732,0.0000,...,0.5859,-0.6124,-0.0258,0.2732,0.2263,0.0000,0.6369,0.0000,-0.7184,-0.8818
1986,0.0000,-0.6808,0.7783,-0.4854,-0.4404,0.0000,-0.8020,0.2960,0.5719,0.3291,...,0.5994,0.0000,-0.7430,-0.8807,0.4215,-0.9211,-0.8402,0.2023,0.0000,0.0000
1987,0.0000,-0.6870,0.4019,-0.8934,-0.6124,-0.9100,-0.3612,0.7003,-0.8402,-0.7096,...,0.7351,0.0000,-0.7579,-0.3182,0.0000,-0.9578,0.0000,-0.8720,-0.5423,-0.8750
1988,-0.5574,-0.0516,0.5719,-0.8658,-0.2960,-0.4404,-0.3182,0.5612,-0.7351,-0.2732,...,-0.5859,0.3818,0.0000,-0.4019,-0.3182,-0.9509,-0.3818,-0.9618,-0.9432,-0.6249

In [21]:
# extract mean value for each category 
data_pos['pos_mean'] = data_pos.mean(axis=1)
data_neg['neg_mean'] = data_neg.mean(axis=1)
data_neu['neu_mean'] = data_neu.mean(axis=1)
data_comp['comp_mean'] = data_comp.mean(axis=1) 
data_pos

,Top1,Top2,Top3,Top4,Top5,Top6,Top7,Top8,Top9,Top10,...,Top17,Top18,Top19,Top20,Top21,Top22,Top23,Top24,Top25,pos_mean
0,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.097,0.098,0.000,...,0.000,0.097,0.123,0.116,0.000,0.000,0.000,0.000,0.351,0.03728
1,0.230,0.000,0.209,0.135,0.000,0.000,0.000,0.119,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.159,0.000,0.263,0.000,0.06180
2,0.175,0.000,0.187,0.095,0.000,0.000,0.000,0.000,0.099,0.000,...,0.000,0.152,0.000,0.132,0.000,0.207,0.135,0.000,0.000,0.06444
3,0.000,0.000,0.110,0.000,0.000,0.000,0.264,0.000,0.181,0.249,...,0.000,0.000,0.000,0.157,0.000,0.242,0.000,0.000,0.000,0.05620
4,0.167,0.000,0.359,0.000,0.088,0.122,0.500,0.098,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.248,0.000,0.330,0.08372
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1984,0.144,0.174,0.000,0.180,0.464,0.000,0.231,0.000,0.070,0.000,...,0.255,0.046,0.000,0.204,0.093,0.000,0.000,0.083,0.158,0.09048
1985,0.456,0.065,0.346,0.315,0.000,0.000,0.000,0.180,0.000,0.000,...,0.000,0.071,0.049,0.160,0.000,0.135,0.000,0.000,0.127,0.09972
1986,0.000,0.000,0.459,0.000,0.105,0.000,0.000,0.268,0.425,0.087,...,0.000,0.000,0.000,0.172,0.000,0.000,0.211,0.000,0.000,0.09188
1987,0.000,0.106,0.213,0.000,0.000,0.000,0.000,0.345,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.07012
1988,0.000,0.000,0.252,0.000,0.000,0.199,0.000,0.156,0.000,0.161,...,0.224,0.000,0.000,0.230,0.072,0.198,0.000,0.000,0.000,0.07616

In [147]:
# build dataframe (pos/neg/neu/comp) 
frame = [data['Date'],data_pos['pos_mean'],data_neg['neg_mean'],data_neu['neu_mean'],data_comp['comp_mean']]
result = pd.concat(frame,axis=1) 
result

KeyError: 'Date'

# Sentiment analysis

In [23]:
import numpy as np
import tensorflow as tf
import keras
from keras.models import Sequential
from keras.layers import Dense
from keras.callbacks import History
from collections import Iterable
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd

import pandas as pd
import time
import datetime

Using TensorFlow backend.

In [15]:
pip install get_all_tickers

Looking in indexes: https://pypi.tuna.tsinghua.edu.cn/simple
Collecting get_all_tickers
  Using cached https://pypi.tuna.tsinghua.edu.cn/packages/93/1a/857d4f41d358f9e97375ca52d25acc76c5f7bb60c5ffd8f3fad4e76f73ef/get_all_tickers-1.8.tar.gz (3.4 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: pandas in ./opt/anaconda3/envs/Python3-7_Keras_env/lib/python3.7/site-packages (from get_all_tickers) (1.3.5)
Requirement already satisfied: requests in ./opt/anaconda3/envs/Python3-7_Keras_env/lib/python3.7/site-packages (from get_all_tickers) (2.28.1)
Requirement already satisfied: python-dateutil>=2.7.3 in ./opt/anaconda3/envs/Python3-7_Keras_env/lib/python3.7/site-packages (from pandas->get_all_tickers) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in ./opt/anaconda3/envs/Python3-7_Keras_env/lib/python3.7/site-packages (from pandas->get_all_tickers) (2022.1)
Requirement already satisfied: numpy>=1.17.3 in ./opt/anaconda3/envs/Python3-7_Keras_env/lib/python3.7/site-packages (from pandas->get_all_tickers) (1.21.5)
Requirement already satisfied: certifi>=2017.4.17 in ./opt/anaconda3/envs/Python3-7_Keras_env/lib/python3.7/site-packages (from requests->get_all_tickers) (2022.6.15)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in ./opt/anaconda3/envs/Python3-7_Keras_env/lib/python3.7/site-packages (from requests->get_all_tickers) (1.26.9)
Requirement already satisfied: idna<4,>=2.5 in ./opt/anaconda3/envs/Python3-7_Keras_env/lib/python3.7/site-packages (from requests->get_all_tickers) (3.3)
Requirement already satisfied: charset-normalizer<3,>=2 in ./opt/anaconda3/envs/Python3-7_Keras_env/lib/python3.7/site-packages (from requests->get_all_tickers) (2.0.4)
Requirement already satisfied: six>=1.5 in ./opt/anaconda3/envs/Python3-7_Keras_env/lib/python3.7/site-packages (from python-dateutil>=2.7.3->pandas->get_all_tickers) (1.16.0)
Building wheels for collected packages: get_all_tickers
  Building wheel for get_all_tickers (setup.py) ... done
  Created wheel for get_all_tickers: filename=get_all_tickers-1.8-py3-none-any.whl size=4246 sha256=94527460c852c4a82db00f86a9257450ae6836f2bc51193d44c08b3df15fea89
  Stored in directory: /Users/annacui/Library/Caches/pip/wheels/00/78/8d/3c75d3fa1eb2abbf4fe1d48d1c2696b9a2394b03b949a7dc95
Successfully built get_all_tickers
Installing collected packages: get_all_tickers
Successfully installed get_all_tickers-1.8
Note: you may need to restart the kernel to use updated packages.

In [24]:
import pandas_datareader.data as web
from pandas import Series, DataFrame
from get_all_tickers import get_tickers as gt

In [84]:
news_data = pd.read_csv('/Users/annacui/Desktop/MLcase5/result.csv')

In [85]:
news_data

      Unnamed: 0        Date  pos_mean  neg_mean  neu_mean  comp_mean
0              0  2008-08-08   0.03728   0.19956   0.76320  -0.354260
1              1  2008-08-11   0.06180   0.16404   0.77408  -0.158716
2              2  2008-08-12   0.06444   0.14580   0.78980  -0.191800
3              3  2008-08-13   0.05620   0.14432   0.79944  -0.141844
4              4  2008-08-14   0.08372   0.16136   0.75488  -0.136908
...          ...         ...       ...       ...       ...        ...
1984        1984  2016-06-27   0.09048   0.15316   0.75636  -0.100772
1985        1985  2016-06-28   0.09972   0.13696   0.76328  -0.050452
1986        1986  2016-06-29   0.09188   0.18680   0.72124  -0.184044
1987        1987  2016-06-30   0.07012   0.17988   0.74996  -0.279312
1988        1988  2016-07-01   0.07616   0.20388   0.71996  -0.363268

[1989 rows x 6 columns]

In [86]:
news_data = news_data.drop(columns=['Unnamed: 0'])
news_data.set_index('Date', inplace=True)
news_data

            pos_mean  neg_mean  neu_mean  comp_mean
Date
2008-08-08   0.03728   0.19956   0.76320  -0.354260
2008-08-11   0.06180   0.16404   0.77408  -0.158716
2008-08-12   0.06444   0.14580   0.78980  -0.191800
2008-08-13   0.05620   0.14432   0.79944  -0.141844
2008-08-14   0.08372   0.16136   0.75488  -0.136908
...              ...       ...       ...        ...
2016-06-27   0.09048   0.15316   0.75636  -0.100772
2016-06-28   0.09972   0.13696   0.76328  -0.050452
2016-06-29   0.09188   0.18680   0.72124  -0.184044
2016-06-30   0.07012   0.17988   0.74996  -0.279312
2016-07-01   0.07616   0.20388   0.71996  -0.363268

[1989 rows x 4 columns]

## Ticker - NKTR

In [124]:
##ZION,KGC,AMD,SOHU,BLIN,WMT,AMGN,NKTR,T,AAPL
list_of_tickers=['NKTR'] 

for i in list_of_tickers:
  start = datetime.datetime(2008, 8, 8)
  end = datetime.datetime(2016, 7, 1)
  zion = web.DataReader(i, 'yahoo', start, end)
data=zion.drop(['Close'],axis=1)
temp_data=zion.drop(['Close'],axis=1)
temp_data

             High    Low   Open   Volume  Adj Close
Date
2008-08-08   4.79   4.43   4.43  1031200       4.79
2008-08-11   4.93   4.64   4.81   704400       4.83
2008-08-12   4.83   4.60   4.81   935600       4.67
2008-08-13   4.77   4.48   4.66  1101000       4.72
2008-08-14   5.03   4.68   4.69  1123400       5.01
...           ...    ...    ...      ...        ...
2016-06-27  14.33  13.31  14.23  1160200      13.39
2016-06-28  13.93  13.54  13.58  1069700      13.76
2016-06-29  14.30  13.59  13.99   752000      13.97
2016-06-30  14.23  13.73  13.95   993900      14.23
2016-07-01  14.43  14.04  14.18   559800      14.40

[1989 rows x 5 columns]

In [125]:
temp_data.set_index('Date',inplace=True)

KeyError: "None of ['Date'] are in the columns"

In [118]:
temp_data.index

DatetimeIndex(['2008-08-08', '2008-08-11', '2008-08-12', '2008-08-13',
               '2008-08-14', '2008-08-15', '2008-08-18', '2008-08-19',
               '2008-08-20', '2008-08-21',
               ...
               '2016-06-20', '2016-06-21', '2016-06-22', '2016-06-23',
               '2016-06-24', '2016-06-27', '2016-06-28', '2016-06-29',
               '2016-06-30', '2016-07-01'],
              dtype='datetime64[ns]', name='Date', length=1989, freq=None)

In [123]:
temp_data

Index(['2008-08-08', '2008-08-11', '2008-08-12', '2008-08-13', '2008-08-14',
       '2008-08-15', '2008-08-18', '2008-08-19', '2008-08-20', '2008-08-21',
       ...
       '2016-06-20', '2016-06-21', '2016-06-22', '2016-06-23', '2016-06-24',
       '2016-06-27', '2016-06-28', '2016-06-29', '2016-06-30', '2016-07-01'],
      dtype='object', name='Date', length=1989)

In [126]:
temp_data.index = temp_data.index.strftime('%Y-%m-%d')

In [128]:
news_data.index

Index(['2008-08-08', '2008-08-11', '2008-08-12', '2008-08-13', '2008-08-14',
       '2008-08-15', '2008-08-18', '2008-08-19', '2008-08-20', '2008-08-21',
       ...
       '2016-06-20', '2016-06-21', '2016-06-22', '2016-06-23', '2016-06-24',
       '2016-06-27', '2016-06-28', '2016-06-29', '2016-06-30', '2016-07-01'],
      dtype='object', name='Date', length=1989)

In [129]:
temp_data.index

Index(['2008-08-08', '2008-08-11', '2008-08-12', '2008-08-13', '2008-08-14',
       '2008-08-15', '2008-08-18', '2008-08-19', '2008-08-20', '2008-08-21',
       ...
       '2016-06-20', '2016-06-21', '2016-06-22', '2016-06-23', '2016-06-24',
       '2016-06-27', '2016-06-28', '2016-06-29', '2016-06-30', '2016-07-01'],
      dtype='object', name='Date', length=1989)

In [ ]:
# DataFrame.merge(right, how='inner', on=None, left_on=None, right_on=None, left_index=False, right_index=False, sort=False, suffixes=('_x', '_y'), copy=True, indicator=False, validate=None)[source]

In [ ]:
#pandas.concat(objs, axis=0, join='outer', ignore_index=False, keys=None, levels=None, names=None, verify_integrity=False, sort=False, copy=True)

In [130]:
sentiment_data = news_data.join(temp_data,on='Date') 
sentiment_data

,pos_mean,neg_mean,neu_mean,comp_mean,High,Low,Open,Volume,Adj Close
Date,,,,,,,,,
2008-08-08,0.03728,0.19956,0.76320,-0.354260,4.79,4.43,4.43,1031200,4.79
2008-08-11,0.06180,0.16404,0.77408,-0.158716,4.93,4.64,4.81,704400,4.83
2008-08-12,0.06444,0.14580,0.78980,-0.191800,4.83,4.60,4.81,935600,4.67
2008-08-13,0.05620,0.14432,0.79944,-0.141844,4.77,4.48,4.66,1101000,4.72
2008-08-14,0.08372,0.16136,0.75488,-0.136908,5.03,4.68,4.69,1123400,5.01
...,...,...,...,...,...,...,...,...,...
2016-06-27,0.09048,0.15316,0.75636,-0.100772,14.33,13.31,14.23,1160200,13.39
2016-06-28,0.09972,0.13696,0.76328,-0.050452,13.93,13.54,13.58,1069700,13.76
2016-06-29,0.09188,0.18680,0.72124,-0.184044,14.30,13.59,13.99,752000,13.97
2016-06-30,0.07012,0.17988,0.74996,-0.279312,14.23,13.73,13.95,993900,14.23
2016-07-01,0.07616,0.20388,0.71996,-0.363268,14.43,14.04,14.18,559800,14.40

In [131]:
sentiment_data = sentiment_data.drop(columns=['comp_mean'])
sentiment_data

,pos_mean,neg_mean,neu_mean,High,Low,Open,Volume,Adj Close
Date,,,,,,,,
2008-08-08,0.03728,0.19956,0.76320,4.79,4.43,4.43,1031200,4.79
2008-08-11,0.06180,0.16404,0.77408,4.93,4.64,4.81,704400,4.83
2008-08-12,0.06444,0.14580,0.78980,4.83,4.60,4.81,935600,4.67
2008-08-13,0.05620,0.14432,0.79944,4.77,4.48,4.66,1101000,4.72
2008-08-14,0.08372,0.16136,0.75488,5.03,4.68,4.69,1123400,5.01
...,...,...,...,...,...,...,...,...
2016-06-27,0.09048,0.15316,0.75636,14.33,13.31,14.23,1160200,13.39
2016-06-28,0.09972,0.13696,0.76328,13.93,13.54,13.58,1069700,13.76
2016-06-29,0.09188,0.18680,0.72124,14.30,13.59,13.99,752000,13.97
2016-06-30,0.07012,0.17988,0.74996,14.23,13.73,13.95,993900,14.23
2016-07-01,0.07616,0.20388,0.71996,14.43,14.04,14.18,559800,14.40

## standarization

In [132]:
sca = temp_data.iloc[:,:] 
sca

             High    Low   Open   Volume  Adj Close
Date
2008-08-08   4.79   4.43   4.43  1031200       4.79
2008-08-11   4.93   4.64   4.81   704400       4.83
2008-08-12   4.83   4.60   4.81   935600       4.67
2008-08-13   4.77   4.48   4.66  1101000       4.72
2008-08-14   5.03   4.68   4.69  1123400       5.01
...           ...    ...    ...      ...        ...
2016-06-27  14.33  13.31  14.23  1160200      13.39
2016-06-28  13.93  13.54  13.58  1069700      13.76
2016-06-29  14.30  13.59  13.99   752000      13.97
2016-06-30  14.23  13.73  13.95   993900      14.23
2016-07-01  14.43  14.04  14.18   559800      14.40

[1989 rows x 5 columns]

In [134]:
sc = StandardScaler()  
sentiment_data = sc.fit_transform(sentiment_data)
sentiment_data = pd.DataFrame(data=sentiment_data,columns=['pos_mean','neg_mean','neu_mean','Open','High','Low','Volume','Adj Close'])

In [135]:
sentiment_data

,pos_mean,neg_mean,neu_mean,Open,High,Low,Volume,Adj Close
0,-1.119515,1.202066,-0.559356,-1.658294,-1.676088,-1.719641,-0.074268,-1.613051
1,0.140168,0.205479,-0.267751,-1.617279,-1.612689,-1.606773,-0.443055,-1.601171
2,0.275795,-0.306282,0.153574,-1.646575,-1.624765,-1.606773,-0.182150,-1.648691
3,-0.147524,-0.347806,0.411944,-1.664153,-1.660993,-1.651326,0.004500,-1.633841
4,1.266281,0.130286,-0.782347,-1.587983,-1.600613,-1.642415,0.029778,-1.547710
...,...,...,...,...,...,...,...,...
1984,1.613567,-0.099782,-0.742681,1.136545,1.004774,1.191169,0.071306,0.941174
1985,2.088260,-0.554306,-0.557212,1.019361,1.074210,0.998106,-0.030821,1.051065
1986,1.685490,0.844058,-1.683963,1.127756,1.089305,1.119884,-0.389339,1.113435
1987,0.567598,0.649903,-0.914213,1.107249,1.131571,1.108004,-0.116360,1.190656
1988,0.877895,1.323273,-1.718269,1.165841,1.225160,1.176319,-0.606233,1.241146

## train test split

In [157]:
x_scores = sentiment_data.iloc[:,0:7]
y_scores = sentiment_data.iloc[:,7] 

x_train, x_test, y_train, y_test = train_test_split(x_scores, 
                                                    y_scores, 
                                                    test_size=0.30,
                                                    random_state=1910)

In [137]:
class fun_t(keras.callbacks.Callback):
    def on_train_begin(self, logs={}):
        self.times = []

    def on_epoch_begin(self, batch, logs={}):
        self.epoch_time_start = time.time()

    def on_epoch_end(self, batch, logs={}):
        self.times.append(time.time() - self.epoch_time_start)

In [138]:
def dataset(xtra,x,y,time_steps):
  import numpy as np
  xs, ys = [], []
  xtra=xtra
  xnum=xtra.to_numpy()
  for i in range(len(x) - time_steps):
    v = x.iloc[i : (i+time_steps)].to_numpy()
    comb=np.concatenate((v, xnum[i+time_steps]), axis=None)
    xs.append(comb)
    ys.append(y.iloc[i+time_steps]) #So that next y is considered
  return np.array(xs), np.array(ys)

## create time lags for time series prediction

In [152]:
TIME_STEPS = 1

In [158]:
x_train

      pos_mean  neg_mean  neu_mean      Open      High       Low    Volume
1930  1.862216 -0.093048 -0.878834  1.529111  1.590458  1.574327  0.377689
1897  0.799807 -1.480189  1.001585  0.360201  0.301349  0.356539 -0.322759
373   1.124489 -0.646333  0.033502  0.433441  0.376824  0.326837 -0.294886
1300  2.511580 -1.624964  0.245773 -0.014788 -0.066967  0.038726  1.303946
898   0.686785  0.217824 -0.561500 -0.747188 -0.806619 -0.843427  1.946052
...        ...       ...       ...       ...       ...       ...       ...
607  -0.143415 -0.260268  0.327250  0.544766  0.557963  0.510990 -0.453099
1883 -0.749625 -0.576752  0.946910  0.837726  0.636457  0.870386  1.607846
1809  0.986807 -0.142428 -0.376031  0.125833  0.008508 -0.062261  0.464244
1117 -0.244107 -0.371374  0.484845 -0.255015 -0.272258 -0.231563  0.093199
260   0.990917 -1.565483  0.983360 -0.905386 -0.879075 -0.908772 -0.419470

[1392 rows x 7 columns]

In [159]:
x_test

      pos_mean  neg_mean  neu_mean      Open      High       Low    Volume
1019 -1.014713 -0.831510  1.327496 -0.565553 -0.513778 -0.516704 -0.756998
624   0.164828 -0.097537  0.009916  0.251806  0.325501  0.320897  2.485466
425  -0.186569 -0.398309  0.481629  1.200996  1.201008  1.200080 -0.757224
430  -1.125680 -0.465646  1.039108  1.116038  0.986660  1.188199  0.468870
978  -0.209173  0.119064 -0.001877 -0.717892 -0.655670 -0.680066 -0.631286
...        ...       ...       ...       ...       ...       ...       ...
1873  1.714259  1.483759 -2.305766  1.215644  1.110438  1.024838  2.228849
911  -0.087931 -0.332094  0.365845 -0.820428 -0.749259 -0.786993 -0.502075
904   0.549103  0.197623 -0.471446 -0.814569 -0.764354 -0.784023 -0.640765
64   -1.045537  0.372699  0.194313 -1.497166 -1.685145 -1.645386 -0.546424
1343 -1.148285 -1.132282  1.683425  0.336764  0.388900  0.395152 -0.687033

[597 rows x 7 columns]

In [160]:
y_train

1930    1.505479
1897    0.231337
373     0.492699
1300   -0.095367
898    -0.757683
          ...
607     0.599620
1883    0.575860
1809    0.189756
1117   -0.335939
260    -0.855694
Name: Adj Close, Length: 1392, dtype: float64

In [161]:
y_test

1019   -0.534931
624     0.293707
425     1.155015
430     1.009484
978    -0.689372
          ...
1873    1.131255
911    -0.781443
904    -0.799263
64     -1.630871
1343    0.344198
Name: Adj Close, Length: 597, dtype: float64

In [162]:
x_train,y_train = dataset(x_train,y_train,y_train,TIME_STEPS)

In [163]:
x_test,y_test = dataset(x_test,y_test,y_test,TIME_STEPS)

In [164]:
x_train=x_train.reshape((x_train.shape[0],1,x_train.shape[1]))
x_test=x_test.reshape((x_test.shape[0],1,x_test.shape[1]))

## LSTM model

In [5]:
np.random.seed = 1910
tf.random.set_seed = 1910

time3=fun_t()
history=History()
lstm_model = Sequential()
lstm_model.add(keras.layers.LSTM(units = 1, input_shape = (x_train.shape[1],x_train.shape[2])))
lstm_model.add(keras.layers.Dense(units = 1))
lstm_model.compile(loss='mean_squared_error', optimizer='adam') 
history = lstm_model.fit(x_train,y_train, epochs= 200, shuffle = False, batch_size = 10, callbacks=[history,time3],validation_split = 0.3,verbose = 0)

NameError: name 'tf' is not defined

In [4]:
time_lstm = list(time3.times)
print('Long Short Term Memory Model Time Taken: ',sum(time_lstm))
train_lstm = history.history.get('loss')
val_lstm = history.history.get('val_loss')

base_mse=val_lstm[-1]
print('Base MSE for the above model:',base_mse)
print('Base Accuracy for the above model:',1-base_mse)

NameError: name 'time3' is not defined